<div>
<!-- ko if: (freeshippingData().has_freesipping) -->
    <span data-bind="i18n: 'Freeshipping Available'"></span>
    <span data-bind="text: has_freeshipping"></span>
    <span data-bind="text: freeshipping.available"></span>
<!--/ko-->
<!-- ko ifnot: (freeshippingData().has_freesipping) -->
    <span data-bind="html: freeshippingData().amount_left"></span><span data-bind="i18n: ' left for freeshiping'"></span>
<!--/ko-->
</div>
